.container-fluid
	.row
		.col-md-12
			.page-header
				h1 Webpack Analyse
	.row
		.col-md-3
			.well: center
				h1
					a(href="https://webpack.js.org/", target="_blank", rel="noopener noreferrer") Webpack
					br
					a(href="https://github.com/webpack/webpack/releases", target="_blank", rel="noopener noreferrer")= stats.version
		.col-md-3
			.well: center
				h1
					= stats.time
					br
					| ms
		.col-md-6
			.well: center
				h1
					| hash
					br
					= stats.hash
	.row
		.col-md-3
			.well: center
				h1: a(href="#modules")
					= stats.modules.length
					br
					| Modules
		.col-md-3
			.well: center
				h1: a(href="#chunks")
					= stats.chunks.length
					br
					| Chunks
		.col-md-3
			.well: center
				h1: a(href="#assets")
					= stats.assets.length
					br
					| Assets
		.col-md-3
			.well: center
				h1
					if stats.errors.length && stats.warnings.length
						a(href="#warnings")
							= stats.warnings.length
							|  Warnings
						br
						a(href="#errors")
							= stats.errors.length
							|  Errors
					else if stats.errors.length
						a(href="#errors")
							= stats.errors.length
							br
							| Errors
					else if stats.warnings.length
						a(href="#warnings")
							= stats.warnings.length
							br
							| Warnings
					else
						| No
						br
						| Warnings/Errors
	
